.main {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    border: 1px solid #eee;
}
/*左侧*/
.col_left {
    float: left;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    width: 240px;
}

.ranking_list {
    margin: 0;
    padding: 0;
}

    .ranking_list ul {
        padding: 0;
    }

ul.ranking_list li h3 {
    background: #f0f0f0 url("/images/icons/index.png") no-repeat scroll 6px -85px;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    padding-left: 24px;
    text-align: left;
    margin: 0;
}

ul.ranking_list li .more {
    background: rgba(0, 0, 0, 0) url("/images/icons/index.png") no-repeat scroll 0 -380px;
    float: right;
    height: 34px;
    line-height: 34px;
    width: 50px;
}

.ranking_list li ul li {
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #f0e4e4;
    line-height: 18px;
    padding: 15px 0;
    vertical-align: middle;
}

    .ranking_list li ul li .img {
        border: 1px solid #d1d1d1;
        float: left;
        height: 56px;
        margin-right: 5px;
        overflow: hidden;
        width: 56px;
    }

    .ranking_list li ul li .price {
        color: #333333;
        line-height: 12px;
        margin-top: 3px;
    }

        .ranking_list li ul li .price img {
            vertical-align: text-top;
        }

    .ranking_list li ul li .img img {
        display: block;
        height: 56px;
        width: 56px;
    }

/*右侧*/
.col_right {
    border-left: 1px solid #eee;
    float: left;
    height: auto;
    overflow: hidden;
    padding: 10px;
    width: 919px;
}

    .col_right h1 {
        margin: 0;
        padding-left: 12px;
        height: auto;
        overflow:hidden;
        line-height: 34px;
        font:bold 20px/34px 'Microsoft YaHei';
        border-bottom:1px solid #eee;
    }

.pic {
    float: left;
    margin-top: 22px;
    overflow: hidden;
    width: 380px;
    border: 1px solid #eaeaea;
    display: table-cell;
    height: 350px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 350px;
}

    .pic img {
        display: table-cell;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
    }

.basic_info {
    margin-top: 22px;
    float: left;
    height: 352px;
    margin-left: 20px;
    width: 545px;
}

ul.info_list li {
    height: 40px;
    line-height: 40px;
}

li.col1, li.col2 {
    float: left;
    width: 50%;
}
#manager {
    visibility:hidden;
    height:80px;
}

.download {
    border-top: 1px dashed #eee;
    height: 110px;
}

.btnDownFile {
    width: 225px;
    height: 35px;
    background: url("/images/button.png") no-repeat scroll 0 0;
    border: none;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: bold;
    margin-top: 60px;
}

    .btnDownFile:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0) url("/images/button.png") no-repeat scroll 0 -35px;
    }
#downDiscu[disabled] {
    background: rgba(0, 0, 0, 0) url("/images/button.png") no-repeat scroll 0 -70px;
}
#downDiscu[disabled]:hover {
    cursor:default;
}
/*弹窗样式*/

.confirmcenter h3{
    font:bold 18px/40px 'Microsoft YaHei';
    border-bottom:1px dashed #eee;
    height:auto;
    overflow:hidden;
    margin-bottom:10px;
}
.confirmcenter p {
    font-size:14px;
    line-height:30px;
}
.confirmcenter p.importent {
    font-size:16px;
    padding-left:24px;
    }
.modal-tips{
    margin-top:10px;
    background: rgba(0, 0, 0, 0) url("/images/icons/onFocus.gif") no-repeat scroll 0 4px;
    border-top: 1px dashed #eee;
    color: #999;
    display: block;
    line-height: 30px;
    padding-left: 24px;
}
.confirmcenter ul li {
    padding-left:12px;
}

/*详情页内容*/
.u_contents {
    margin-top: 20px;
}

.m_l_row {
    margin: 5px auto;
}

.m_l_r_text {
    line-height: 22px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px 22px;
}

    .m_l_r_text pre {
        text-align: left;
    }

.m_l_r_top {
    background-color: #f3f3f3;
    height: 30px;
}

    .m_l_r_top h3 {
        margin: 0;
        background: #f3f3f3 url("/images/icons/arrow.png") no-repeat scroll 5px 7px;
        color: #333;
        display: block;
        float: left;
        height: 30px;
        line-height: 30px;
        text-indent: 22px;
    }

.detail {
    display: block;
    float: right;
    margin: 10px;
    width: 11px;
}

.m_l_r_top img {
    float: right;
}

.manageUL li {
    display: block;
    float: left;
    padding: 0 8px;
}

.tips {
    background: rgba(0, 0, 0, 0) url("/images/icons/onFocus.gif") no-repeat scroll 0 4px;
    border-top: 1px dashed #eee;
    color: #999;
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 24px;
}

.helplink {
    background: rgba(0, 0, 0, 0) url("/images/icons/wenhao.png") no-repeat scroll 0 -2px;
    line-height: 30px;
    padding-left: 20px;
}

.m_l_r_text p {
    line-height: 30px;
}

.m_l_r_text ul li {
    height: 30px;
    line-height: 30px;
}

.m_l_r_text .cols li {
    display: inline-block;
    float: left;
    width: 33%;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
}


.CheckBoxContent {
    height: auto;
    height: 100%;
}

    .CheckBoxContent li {
        float: left;
        text-align: left;
        height: 30px;
        line-height: 30px;
    }

 #DiscuDownLoad ul{
      display: inline-block;
    height: 30px;
}
#DiscuDownLoad ul li {
    float:left;
}
#DiscuDownLoad ul.myrow:nth-child(even)
{     
    display:block;
      background:#f6f6f6;
}
#DiscuDownLoad ul li.title {
    font-weight:bold;
    text-align:center;
}
    #DiscuDownLoad .username {
        width:500px;
        
    }
  #DiscuDownLoad .value {
        width:160px;
        text-align:center;
    }
    #DiscuDownLoad .downloadtime {
        width:160px;
        text-align:center;
    }

/*下载图标*/
#haslink {
    display:inline-block;
}
#haslink span{
    display:inline-block;
    margin-left:3px;
}
.DownloadUrl {
    line-height:30px;
}
.DownloadUrl i {
   display:inline-block;
   float:left;
   height:24px;
   width:24px;
}
#urllink {
    padding-left:16px;
}
#urllink a {
    margin-left:10px;
    font-size:14px;
    display:inline-block;
    color:#165c47;
}
#ordinaryAddress i {
    background:url("/images/icons/linklogo.png") -97px 2px no-repeat;
}
.baiduhas i{
    background:url("/images/icons/linklogo.png")  -97px 2px no-repeat;
}
#xunleiAddress i {
    background:url("/images/icons/linklogo.png") -2px 2px no-repeat;
}
#baiduAddress {
    clear:both;
}
#baiduAddress  i{
    background:url("/images/icons/linklogo.png")  -27px 2px no-repeat;
}
.xunleihas i{
    background:url("/images/icons/linklogo.png") -2px 2px no-repeat;
}
.xunleino i{
    background:url("/images/icons/linklogo.png") -50px 2px no-repeat;
}
.baiduhas i{
    background:url("/images/icons/linklogo.png")  -27px 2px no-repeat;
}
.baiduno i{
    background:url("/images/icons/linklogo.png") -72px 2px no-repeat;
}

#m_l_row5 {
    display:none;
}
.pagebox {
    margin:0 auto;
    width:360px;
}
#Pager {
    float:left;
    width:300px;
}
#rec_sum {
    float:left;
    padding:10px 0;
    line-height:24px;
}

/* 复制提示 */
.copy-tips{position:fixed;z-index:999;bottom:50%;left:50%;margin:0 0 -20px -80px;background-color:rgba(0, 0, 0, 0.2);filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#30000000, endColorstr=#30000000);padding:6px;}
.copy-tips-wrap{padding:10px 20px;text-align:center;border:1px solid #F4D9A6;background-color:#FFFDEE;font-size:14px;}