
body {
    background: #fff none repeat scroll 0 0;
    font-family: "Microsoft YaHei";
    font-size: 13px;
    color:#333;
    margin: 0;
    padding: 0;
}
ul {margin:0;
    padding:0;
}
li {
    list-style:none;
}
a {
    margin:0;
    padding:0;
    color: #317082 ;
    font-size: 13px;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
a.login0{
    color:#587069;
    font-size:12px;
}
a:hover {
    text-decoration:underline;
    }
.red {
    color:#cc3300;
}
h1, h2, h3,h4,h5 {
    margin:0;
    color:#333;
    font-family:'Microsoft YaHei';
    line-height:30px;
}
h1 {
    font-size:18px;
}
h2 {
    font-size:16px;
}
h3 {
    font-size:14px;
}
img {
    border:none;
}


.header {
   margin: 0 auto;
    width:1200px;
    height: auto;
    overflow: hidden;
}
.location {
    clear:both;
    color:#999;
    height:30px;
    line-height:30px;
    width:1200px;
    margin:0 auto;
    text-indent:24px;
    border-bottom:1px solid #eee;
    
}

.sitetop {
    margin:0 auto;
    width:1200px;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #eee;
}
.sitetop .loginleft {
    float:left;
    margin-left:24px;
    width:460px;
    overflow:hidden;
    }
.sitetop .loginright {
    float:right;
    width: 340px;
    margin-right:24px;
    text-align:center;
    }
.accountbox{margin-left: 24px;}
.loginright_ul{float: right;}
.tips{
    padding-left: 24px;
    background:url(/Images/icons/onFocus.gif) no-repeat 0 3px;
    text-align: left;
    font-weight: bold;
}

 /*ÏÂÀ­²Ëµ¥*/
#mycenter{display: none;}


#mycenter .tri {
    margin-left: 6px;
    border-color: #666666 #ffffff #ffffff;
    border-style: solid;
    border-width: 4px;
    height: 0;
    line-height: 0;
    position: absolute;
    top: 12px;
    transition: transform 0.2s ease-in 0s;
    width: 0;
}
#mycenter:hover .tri{
    margin-left: 6px;
    border-color: #ffffff #ffffff #666666;
    top: 10px;
}
//20181124
* {
    padding:0;
    margin:0;
    list-style:none;
}
.sitetop .loginright>ul>li {
    float:left;
    cursor: pointer;
    display: block;
    position: relative;
    height:auto;
    background:url(/Images/icons/index.png) no-repeat right 5px;
    }
.sitetop .loginright span{
    float:left;
    width:110px;
    cursor: pointer;
    display: block;
    position: relative;
    height:auto;
    background:url(/Images/icons/index.png) no-repeat right 5px;
    }
.all {
    float: left;
    width:110px;
    height:30px;
    padding-left:10px;
}
.all li {
    width:110px;
    height:30px;
    background-color:#f6f6f6;
    line-height:30px;
    text-align:center;
    float:left;
    display:inline;
    position:relative;
    cursor:pointer;
}
.all ul {
    position:absolute;
    left:0;
    top:30px;
    display:none;
}

/*ÏÂÀ­²Ëµ¥½áÊø*/
.logo {
    float:left;
    width:320px;
}
.search {
    float:left;
    width:860px;
}
.searchbox {
    margin-top:44px;   
}
.search_txtbox {
    float:left;
    padding-left:12px;
    border:1px solid #317082;
    margin-left:160px;
    border-radius:5px 0 0 5px;
    height:40px;
    line-height:40px;
    width:360px; 
}
.searchbtn {
    font-size: 16px;
    width:80px;
    border:none;
    border-radius:0 5px 5px 0;
    height:40px;
    background:#317082 ;
    color:#fff;

}
.searchbtn:hover {
    cursor:pointer;
    }
.red {
    color:#cc3300;
}
.clear {
    clear:both;
}
/*ï¿½ï¿½ï¿½ï¿½navi*/
#navibar {
    height:38px;
    width:auto;
    background:#317082 ;
     z-index: 999;
}
#navibar ul {
    padding:0;
    width:1200px;
    height:38px;
    margin:0 auto;
    background:#317082;
    
}
#navibar ul li{
    float:left;
    text-align:center;
    width:200px;
    height:38px;
    line-height:38px;
    display:inline-block; 
    border-right: 1px solid #317082;
}
#navibar ul li.home{

    text-align: center;
    width:250px;
   background:#317082;
}
#navibar ul li.home span{
    
    display:inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;

    background:url("/Images/icons/home.png") 0 3px no-repeat ;
}
#navibar ul li a {
    display:inline-block;
    width:200px;
    
    color:#eee;
    font: normal 18px/38px "Microsoft YaHei";
}
#navibar ul li a:hover {
    
    cursor:pointer;
}
#navibar ul li.payment {
        border:none;
    }
#navibar ul li.payment span{
    display:inline-block;
    height: 24px;
    vertical-align: middle;
    width: 30px;
    margin-right:6px;
    background:url("/Images/index_logo.png") rgba(0, 0, 0, 0)  no-repeat scroll -80px 0;
}
#navibar ul li.contact {
        margin-left:5px;
        border:none;
    }
#navibar ul li.contact span{
    display:inline-block;
    height: 24px;
    vertical-align: middle;
    width: 30px;
    margin-right:6px;
    background:url("/Images/index_logo.png") rgba(0, 0, 0, 0)  no-repeat scroll -128px 0;
}
/*ï¿½ï¿½Ò³ï¿½ï¿½Ê½*/
.pager {
    clear: both;
    margin-top: 30px;
    text-align: center;
}
.pager a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    display: inline-block;
    line-height: 22px;
    margin-right: 5px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
}
.pager [disabled="disabled"] {
    border: medium none;
    color: #000000;
    font-weight: bold;
}
.pager_selected {
    color: #000000;
    font-weight: bold;
}
.pager .aspNetDisabled {
    border: medium none;
    font-weight: bold;
}
.pager_tip {
    margin-right: 50px;
    padding: 3px 6px;
}
.pager_text {
    text-align: center;
    width: 24px;
}
.pager_btn {
    width: 50px;
}
.pager_btn:hover {
    cursor: pointer;
}
.back {
    border-top: 1px solid #eeeeee;
    height: 22px;
    margin-top: 10px;
    padding: 3px;
}
.goback {
    float: right;
    line-height: 16px;
    margin: 0 20px 0 0;
    padding: 0;
}
/**/

#headmodal .modal-body p{
    min-height: 120px;
    text-indent:2em; 
    font-size: 16px;
    padding-top: 15px;
}
#headmodal .modal-body  a{
    min-height: 120px;
    font-size: 16px;
    padding-top: 15px;
}
/*ï¿½×²ï¿½*/
.bottom {
    margin-top:30px;
    border-top:1px solid #ccc;
    text-align:center;
    height:auto;
    overflow: hidden;
}
.bottom ul.rightline li{
	border-right:1px solid #ccc;
}
.bottom ul.rightline li.endline{
	border:none;
}
.bottom ul{
     margin: 20px auto;
    overflow: hidden;
    width: 324px;
}
.bottom ul li {
    background:url(/Images/icons/index.png) 30px 0 no-repeat;
    display:inline-block;
    width:80px;
    float:left;
    list-style:none;
    }
.bottom p{
	line-height: 22px;
	color: #666;
	
}    