.main {
    margin:0 auto;
    width:1200px;
    background:#fff;
    color:#2e2e2e;
}
.navibar{
	text-indent: 1em;
    margin: 0 auto;
	height: 30px;
	line-height: 30px;
	width: 1200px;
	
}
